body {
  height: 100vh;
}

#storybook-root {
  height: 100%;
}

.draggable-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draggable-boundary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 1px solid #b6b4b4;
  border-radius: 6px;
}

.draggable-element {
  flex-shrink: 0;

  cursor: pointer;
  border-radius: 6px;
  background-color: #8b40ee;
  opacity: 0.5;
}

.draggable-element--inner {
  width: 150px;
  height: 150px;
}

.draggable-element--outer {
  width: 400px;
  height: 400px;
}

.draggable-element--auto {
  width: 150px;
  height: 400px;
  opacity: 0.5;
}