.drag-story__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.drag-story__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border: 1px solid #b6b4b4;
  border-radius: 6px;
  mix-blend-mode: difference;
  touch-action: none;
  pointer-events: none;
  user-select: none;
  z-index: 2;
}

.drag-story__draggable-element {
  cursor: pointer;
  border-radius: 6px;
  background-color: #8b40ee;
}

.drag-story__draggable-element--inner {
  width: 150px;
  height: 150px;
}

.drag-story__draggable-element--outer {
  width: 400px;
  height: 400px;
}

.drag-story__draggable-element--auto {
  width: 150px;
  height: 400px;
}